<app-tooltip-exemple>
  
</app-tooltip-exemple>


<h1>Usando Template-drivenorms</h1>

<app-formulario></app-formulario>

<h1>Usando React forms Module</h1>

<app-segundo-formulario></app-segundo-formulario>

<h1>TESTANDO REQUISIÇÕES HTTP</h1>

<br>  

<button (click)="listar_produtos()">GET</button>
<button (click)="listar_produtos_id()">GET /id</button>
<button (click)="adicionar_produto()">POST</button>
<button (click)="alterar_produto()">PUT</button>
<button (click)="excluir_produto()">DELETE</button> 